
header{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.fight{
  height:150px;
  width: 400px;
  border: 2px solid white;
}
body{
  background: url(images/MK_background_reptile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body.newBackground{
  background: url(images/MK_background_coliseum.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.flip-container{
  height: 150px;
  width: 80px;
  margin: 25px;
  float:left;
  position:relative;
  background: #fff;
  border-radius: 10px;
  border: 6px solid orange;
}
.frontCard{
  height: 150px;
  width: 80px;
  background: white;
}
.controls {
  clear: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
  button{
  background: #01FF70;
  color: #000;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  text-align: center;
  border: 2px solid white;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 10px;
}
button:hover{
    background: #FF4136;
}
footer {
  position: fixed;
  bottom: -5px;
  right: -5px;
}
