
header{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.fight{
  height:150px;
  width: 400px;
}
body{
  background: url(images/MK_background_reptile.jpg);
}
.flip-container{
  height: 150px;
  width: 80px;
  margin: 15px;
  float:left;
  position:relative;
  background: #fff;
  border-radius: 10px;
  border: 6px solid orange;
}
.frontCard{
  height: 150px;
  width: 80px;
  background: white;
}
.backCard{
  height: 150px;
  width: 80px;
  background: white;  
}

.controls {
  clear: left;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  }
  button{
  background: #01FF70;
  color: #000;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  text-align: center;
  border: 2px solid white;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 10px;
}
button:hover{
    background: #FF4136;
}
.flip-container .front {
transform-style: preserve-3d;
position: absolute;
transition: all 0.5s ease-out;
-webkit-transition: all 0.5s ease-out;
backface-visibility: hidden;
transform: rotateX(0deg);
z-index: 1;
}
.flip-container.flip .front {
z-index: 1;
transform-style: preserve-3d;
position: absolute;
transition: all 0.5s ease-out;
-webkit-transition: all 0.5s ease-out;
backface-visibility: hidden;
transform: rotateX(180deg);
}
/*.flip-container .back {
z-index: 0;
transform-style: preserve-3d;
position: absolute;
transition: all 0.5s ease-out;
-webkit-transition: all 0.5s ease-out;
backface-visibility: hidden;
transform: rotateX(-180deg);
}*/
/*.flip-container.flip .back {
z-index: 2;
transform-style: preserve-3d;
position: absolute;
transition: all 0.5s ease-out;
-webkit-transition: all 0.5s ease-out;
backface-visibility: hidden;
transform: rotateX(0deg);
}*/
